body{
	background: linear-gradient( white, white, red, red, red, red);
	 background-size: cover;
	background-repeat: no-repeat;
	/*min-height: 100%; */

}




.main{
	color: black;
	font-size: 0.9em;
	text-align: justify;
	font-weight: bold;
}

.slogan{
	color: black;
	font-size: 1.5em;
	text-align: justify;
	font-weight: bold;
	font-family: cursive;

}


.info{
	color: black;
	font-size: 100%;
	text-align: justify;

}

.steps{
	color: black;
	font-size: 125%;
	text-align: center;
	border-style: solid;
	border-width:medium;
	border-color: black
	padding: 10px;



}
